<!-- <div class="container" style="margin-top: 50px;">
    <div class="card" [ngClass]="cardColor" style="margin-bottom: 10px;">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi aut nobis odit quibusdam sed eius aspernatur
            id doloremque mollitia repellendus ipsa quas eum, ipsam veritatis neque consequuntur reprehenderit ut
            perspiciatis. Expedita impedit laborum consequuntur laudantium sit aspernatur. Obcaecati facere
            reprehenderit quo voluptatum impedit accusantium eius.

        </p>
    </div>
    <div class="card" [ngClass]="cardColor" [ngStyle]="applyCardStyle">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, laudantium quam. At sequi sint officiis
            commodi adipisci recusandae est, laudantium deserunt totam quis animi impedit nemo illo sapiente rem!
            Voluptates recusandae nostrum voluptatem repellat maiores ullam dolore. Quaerat, earum! Eligendi at tempore
            nostrum vero. Debitis, doloremque assumenda numquam cupiditate voluptatibus iusto dolorum at sequi, sed
            dolor aperiam modi! Ipsam numquam sed perspiciatis deleniti labore, vero minima vitae, perferendis expedita
            repellendus porro at, nam veniam excepturi molestiae neque. Accusantium, facilis pariatur!

        </p>
    </div>
    <div class="text-center mt-2">
        <button class="btn btn-success" (click)="changeColor()">Change Color</button>
    </div>

</div> -->

<button class="btn btn-danger" (click)="updateValue()">Update</button>

<div class="center">
    <!-- <app-login></app-login> -->
    <!-- <app-container></app-container> -->
    <!-- <app-template></app-template> -->
    <!-- <app-template-outlett></app-template-outlett> -->
    <!-- <app-hook01></app-hook01> -->
    <app-changeshook [inputValue]="initialValue"></app-changeshook>
</div>