<div class="container">
    <h2 style="text-align: center; margin-bottom: 30px;">Parent Component</h2>
    <app-child05>
        <section>
            <h3>Heading</h3>
            <p #showPara>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores ex neque sed eos ad harum
                suscipit
                temporibus sequi dolores, molestias, alias fugiat? Aliquid rerum reiciendis voluptatibus soluta quisquam
                animi! Nisi, consequuntur eos maiores illo qui delectus, sed assumenda expedita, quam aperiam sequi fuga
                rerum impedit!
            </p>
        </section>
    </app-child05>
</div>