<section>
    <div>
        <h1>Contacts Component </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, deserunt odio facere voluptates similique
            recusandae voluptas laborum, corporis enim voluptate eveniet, accusantium minima maxime eaque nam sequi iure
            praesentium voluptatum delectus maiores dicta. Culpa, eos blanditiis quia laudantium delectus maxime
            assumenda
            nemo architecto et iste repudiandae reprehenderit quo deleniti modi non consequatur, mollitia, ipsum
            facilis.
            Dicta.
        </p>
    </div>
</section>