<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Provincia</th>
                <th>Stipendio</th>
            </tr>
        </thead>
        <tbody>
            @for(item of employees;track item.name){
            <tr>
                <td>{{item.name | titlecase}}</td>
                <td>{{item.provincia | slice:0:3 | uppercase}}</td>
                <td>{{item.stipendio |currency:'EUR'}}</td>
            </tr>
            }@empty {
            <p>No Employees</p>
            }
        </tbody>
    </table>
</div>